@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Merriweather&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Merriweather&family=Noticia+Text&display=swap');






body{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
 
}



.headLine{
  font-family: 'Merriweather', serif;
  text-transform: capitalize;
  letter-spacing: 2px;
  word-spacing: 2px;
  text-decoration: underline;
}


img{
  width:auto;
  height: 300px;
  animation:imgAnimation 1s ease-in-out infinite alternate-reverse both;

}

.secondColumn{
  font-family: 'Libre Baskerville', serif;
font-family: 'Merriweather', serif;

}

@keyframes imgAnimation{
  0%{
    transform: translate(-10px);
  }
  100%{
    transform: translate(10px);
  }
}

.setContainer{
  width: 60%;
}
.rowCenter{

  text-align: center;
  align-items: center;
  box-shadow: -1px -1px 2px 3px rgb(224, 215, 215);
  
}

@media (max-width:1000px){
  img{
    width: 150px;
    height: 200px;
  }
}

.rain{
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 5px;
  word-spacing: 2px;
  text-shadow: 0 2px 3px rgb(41, 37, 37);
}

.secondContainer{
  font-family: 'Libre Baskerville', serif;
font-family: 'Merriweather', serif;
font-family: 'Noticia Text', serif;
font-size: 20px;

}